.contact-us {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);

  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;

  form {
    width: 90%;
    max-width: 500px;
    height: 50vh;
    background-color: rgb(0, 0, 0);
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    text-align: center;

    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow-y: auto;

    .form__header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    h2 {
      margin-top: 0;
    }

    label {
      text-align: left;
      color: #fff;
    }
    input {
      border-radius: 2px;
      border: 1px solid #fff;
      background-color: #000000;
      padding: 8px;
      font-family: "Science Gothic", sans-serif;
      color: #fff;

      &:focus {
        outline: none;
        scale: 1.01;
      }
    }
    textarea {
      border-radius: 2px;
      border: 1px solid #fff;
      background-color: #000000;
      padding: 8px;
      font-family: "Science Gothic", sans-serif;
      flex-grow: 1;
      resize: none;
      color: #fff;

      &:focus {
        outline: none;
        scale: 1.01;
      }
    }
  }
}
